@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }

  .wono-blue {
    background-color: rgba(176, 235, 255, 0.36);
  }
  .wono-blue-dark {
    background-color: #0db4ea;
  }
  .wono-blue-dark-border {
    border-color: #0db4ea;
  }
  .wono-blue-text {
    color: #0db4ea;
  }
  .wono-text {
    color: rgb(234, 127, 13);
  }
  .wono-opacity {
    opacity: 15%;
  }
  .wono-title {
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    font-weight: 600;
  }
}

@font-face {
  font-family: Popins-Regular;
  src: url("../src/assets/WONO_images/img/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: Popins-SemiBold;
  src: url("../src/assets/WONO_images/img/font/Poppins-SemiBold.ttf");
  font-weight: 600;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior: none;
  font-family: Popins-Regular;
}

.row-revoked {
  background-color: #f5f5f5;
  color: #b0b0b0;
  pointer-events: none; /* Prevent interaction */
}

.fc .fc-view-harness {
  background: #ffffff;
}
.fc .fc-toolbar.fc-header-toolbar {
  padding: 0.5em 0em 1em 0em;
  margin-bottom: 0;
}
.fc .fc-toolbar {
  background-color: white;
}
.fc .fc-button-primary::first-letter {
  text-transform: uppercase;
}
.fc .fc-button-primary:disabled {
  background-color: rgba(176, 235, 255, 0.36);
  color: gray;
  cursor: no-drop;
}
/* .css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input  {
  padding-right: 0px !important;

} */
.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 0px !important;
}
