@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }

  .wono-blue {
    background-color: rgba(176, 235, 255, 0.36);
  }
  .wono-blue-dark {
    background-color: #0db4ea;
  }
  .wono-blue-dark-border {
    border-color: #0db4ea;
  }
  .wono-blue-text {
    color: #0db4ea;
  }
  .wono-text {
    color: rgb(234, 127, 13);
  }
  .wono-opacity {
    opacity: 15%;
  }
}

@font-face {
  font-family: Popins-Regular;
  src: url("../src/assets/WONO_images/img/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: Popins-SemiBold;
  src: url("../src/assets/WONO_images/img/font/Poppins-SemiBold.ttf");
  font-weight: 600;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior: none;
  font-family: Popins-Regular;
}

.row-revoked {
  background-color: #f5f5f5;
  color: #b0b0b0;
  pointer-events: none; /* Prevent interaction */
}

.fc .fc-view-harness {
  background: #ffffff;
}

.fc-disabled-date {
  pointer-events: none; /* Prevent interaction */
  background-color: #f0f0f0; /* Gray background for clarity */
  color: #a0a0a0; /* Light text color */
  cursor: not-allowed; /* Show "not allowed" cursor */
}


